body{
margin: 0%;
padding: 0%;
}
.container{
width: 100vw;
height: 100vh;
position: relative;
background-image:url(images/donation1.jpg);
background-repeat: no-repeat;
background-size: cover;

}
.half-width{
width: 100%;
height: 120%;
font-size: 50px;
color: white;
display: flex;
justify-content: center;
flex-direction:column;
align-items: center;
}
.link-button{
text-decoration: none;
background-color: tomato;
padding: 1px 50px;
border-radius: 8px;
color: white;
font-weight: 700;
}
.hey-mama{
text-align: center;;
margin:3% auto;
font-size: 20px;
font-weight: 700;
border: 10px;
}
.same{
width: 100px;
margin: 30px auto;
text-align: center;
padding: 30px 10px;
border: 10px 10px;
border-radius: 10px;
background-color: whitesmoke;


}
.display{
    margin: 3% auto;

   display: flex;
 
   
  
}
#tk{
    width: 100px;
    margin: 30px auto;
        text-align: center;
        padding: 30px 10px;
        border: 20px 10px;
        border-radius: 10px;
        border-color: red;
        background-color: rgb(218, 170, 170);
}
.text{
    text-align: center;
    padding: 5px 200px;
    width: 80%;
    margin-bottom: 20px;
 
}
.nature{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.link-button{
   
    text-align: center;
 text-decoration: none;
background-color: tomato;
padding: 10px 18px;
margin: 0px;
border-radius: 8px;
color: white;
font-weight: 700;

}
.section-two{
    margin-top: 70px;
 
}

.card1{
   width: 350px; 
   height: 250px;
   border: 1px solid gray;
   text-align: left;
   box-shadow: 8px 8px 16px gray;
   background-color: mistyrose;
   padding: 20px;
   border-radius: 10px;
   margin-top: 30px;
  

}
.fodder{
    width: 50px;
   margin: 20px;
}


.control{
    margin-top: 70px;
}
.pen1{
    width: 350px;
    height: 250px;
    border: 1px solid gray;
    text-align: left;
    box-shadow: 8px 8px 16px gray;
    background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    
}
.shelter-icom{
    width: 50px;
}

.super{
    margin-top: 70px;

}

.super-man{
    width: 350px;
    height: 250px;
    border: 1px solid gray;
    text-align: left;
    box-shadow: 8px 8px 16px gray;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}
.super-real{
    width: 50px;
}
.managment{
    display: flex;
    padding: 300px;
   


}


#img {
    width: 12%;
}

.p-f {
    display: flex;
}

.p-1 {
    width: 800px;
}

.sec-2 {
    display: flex;
    margin-top: 3%;

    background-color: aliceblue;

}

#p4 {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tnu {
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.em {
    font-weight: 400;
    background-color: rgb(115, 148, 177);
    border: 0px solid;
    width: 40%;
    padding: 15px 10px;
    border-radius: 5px;
    padding-left: 30%;
    margin-left: 10%;
}

.update {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#subs {
    color: aliceblue;
    font-weight: 400;

    background-color: rgb(180, 57, 84);

    padding: 15px 25px;
    border: 0px solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.last {
    background-color: rgba(0, 0, 0, 0.801);
    color: aliceblue;
    padding-left: 45%;
    width: 10px 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
